/* .header{

   
    background-image: url("https://wallpapercave.com/wp/wp4318719.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    background-position:50%;
}\Cc


.text{

    padding-top: 50%;
} */

#blue {
    background: linear-gradient(180deg, #18145c 0%, #3845ba 100%);

}
#pallete {

 background-color: #090d3b;
}
#scroll {

    overflow-y:scroll;
    
}
#scroll::-webkit-scrollbar {
 background: transparent;
}
/* @media only screen and (max-width: 600px) {
    #scroll {
        overflow-x: scroll;
    }
  } */
  #grad2 {

    background: linear-gradient(180deg, #0a1375 0%, #555582 50%);
}